@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.App .title {
  color: crimson;
}

.App table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App input {
  font-size: 18px;
  padding-left: 10px;
  width: 100vh;
  height: auto;
  margin: 25px 0px;
}

.App input::-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
}

.App table {
  width: 100vh;
}

.App th,td {
  padding: 10px;
}

.App th {
  background-color: cadetblue;
  color: white;
  
}
